VITE_SOCKET_URL=http://localhost:3000
VITE_TURN_URLS=turn:your-turn-server:80,turn:your-turn-server:80?transport=tcp,turns:your-turn-server:443?transport=tcp
VITE_TURN_USERNAME=your-turn-username
VITE_TURN_CREDENTIAL=your-turn-credential
